* {
    font-family: "New Amsterdam";
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* HEADER STYLES */

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    background-color: #11151C;
}

h1 {
    margin: 0;
    color: #82FF9E;
    font-size: 56px;
}

#header-text-rock {
    color: #E6AF2E;
}

#header-text-paper {
    color: #FBF5F3;
}

#header-text-scissors {
    color: #EE4266;
}

/* CONTENT STYLES */

.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #11151C;
}


/* H2 HEADER */
h2 {
    color: #FBF5F3;
    font-size: 48px;
    margin: 0;
}

/* BUTTONS */

.picks-container {
    display: flex;
    gap: 4em;
    margin: 2.4em 0 0 0;
}

img {
    width: 240px;
    height: auto;
    border-radius: 12%;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(0.93);
}

img:active {
    transform: scale(0.95); /* Reset zoom when pressed */
}

.pick--rock > img {
    border: 5px solid #E6AF2E;
}

.pick--paper > img {
    border: 5px solid #FBF5F3;
}

.pick--scissors > img {
    border: 5px solid #EE4266;
}

/* SCORE */

.score-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score--player, .score--computer {
    width: 35px;
    text-align: center;
}

.separator {
    color: #FBF5F3;
    font-size: 5.4em;
}

.score--player > span, .score--computer > span {
    color: #FBF5F3;
    font-size: 5.4em;
}

.separator {
    padding-top: 8px;
}

.mid-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player--pick, .computer--pick {
    width: 8.1em;
    text-align: center;
    color: #FBF5F3;
    font-size: 2.2em;
    padding-top: 4px;
    height: 42px;
}

.player--pick-last, .computer--pick-last {
    color: #fbf5f359;
    text-align: center;
    font-size: 1.6em;
    padding-top: 4px;
    width: 100%;
    height: 30.5px;
}

.player--pick-panel, .computer--pick-panel {
    display: flex;
    flex-direction: column;
    padding: 2.3em 0 0 0;
}

/* REPLAY BUTTON */

.replay-container {
    height: 7em;
}

.replay--btn {
    padding-top: 18px;
}

/* Replay Button Styling */
button {
    background-color: #364156; /* Matches the color of the main heading text */
    border: none;
    border-radius: 15px;
    font-size: 2em; /* Increased font size */
    font-family: 'New Amsterdam', sans-serif;
    color: #FBF5F3; /* Dark background color for contrast */
    cursor: pointer;
    width: 5em; /* Increased width */
    height: 1.7em; /* Increased height */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #FBF5F3; /* Highlight color on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
    color: #11151C;
}

button:active {
    transform: scale(1); /* Reset zoom when pressed */
    background-color: #FBF5F3; /* Light color on active press */
}