:root {
    --button-hover-bg-color: #FBF5F3; /* Default hover background color */
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after {
    font-family: "New Amsterdam";
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    background-color: #11151C;
}

h1 {
    margin: 0;
    color: #82FF9E;
    font-size: 56px;
}

#header-text-rock {
    color: #E6AF2E;
}

#header-text-paper {
    color: #FBF5F3;
}

#header-text-scissors {
    color: #EE4266;
}

/* CONTENT STYLES */

.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #11151C;
}


/* H2 HEADER */
h2 {
    color: #FBF5F3;
    font-size: 48px;
    margin: 0;
}

/* BUTTONS */

.picks-container {
    display: flex;
    gap: 4em;
    margin: 2.4em 0 0 0;
}

img {
    width: 240px;
    height: auto;
    border-radius: 12%;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(0.93);
}

img:active {
    transform: scale(0.95); /* Reset zoom when pressed */
}

.pick--rock > img {
    border: 5px solid #E6AF2E;
}

.pick--paper > img {
    border: 5px solid #FBF5F3;
}

.pick--scissors > img {
    border: 5px solid #EE4266;
}

/* SCORE */

.score-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score--player, .score--computer {
    width: 35px;
    text-align: center;
    padding-top: 3px;
}

.separator {
    color: #FBF5F3;
    font-size: 5.4em;
}

.score--player > span, .score--computer > span {
    color: #FBF5F3;
    font-size: 5.4em;
}

.separator {
    padding-top: 8px;
}

.mid-panel {
    display: flex;
    align-items: center;
}

.player--pick-panel, .computer--pick-panel {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.player--pick, .computer--pick {
    width: 8.1em;
    text-align: center;
    color: #FBF5F3;
    font-size: 2.2em;
    height: 42px;
}

.player--pick-last, .computer--pick-last {
    color: #fbf5f359;
    text-align: center;
    font-size: 1.6em;
    width: 100%;
    height: 30.5px;
}

.player--label, .computer--label {
    color: #FBF5F3;
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 20px;
}

.computer--label-border, .player--label-border {
    border: 2px solid #FBF5F3;
}

/* WINNER SCREEN STYLING */

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms, visibility 500ms; 
}

.overlay-active {
    visibility: visible;
    opacity: 1;
}

.blur::before { /* blur */
    backdrop-filter: blur(0px);
    transition: backdrop-filter 500ms;
    height: 100vh;
    width: 100%;
    position: absolute;
    content: "";
    pointer-events: none;
}

.blur-active::before {
    backdrop-filter: blur(5px);
}

.modal {
    display: none; 
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;  
    height: 100%; 
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 380px;
    background-color: #364156;
    border-radius: 33px;
    transition: 0.5s;
}

.modal-header--text {
    color:#FBF5F3;
    font-size: 3.1em;
    margin-top: 0.8em;
    margin-bottom: 0;
    text-align: center;
}

.modal-scores {
    display: flex;
    justify-content: center;
    height: 110px;
    color: #FBF5F3;
    margin: 37px 0px 30px 0px;
    gap: 20px;
}

.modal-scores--player, .modal-scores--computer {
    flex: none;
    height: 100px;
    width: 0.5em;
    font-size: 7em;
}

.modal-scores--player-score, .modal-scores--computer-score {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-scores--separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FBF5F3;
    height: 100px;
    margin: 0 20px;
}

.modal-scores--separator-box {
    width: 200px;
    height: 20px;
    display: flex;
}

.modal-scores--separator-player-score, 
.modal-scores--separator-computer-score, 
.modal-scores--separator-separator {
    width: 20px;
    text-align: center;
}

.modal-scores--separator-player-pick, .modal-scores--separator-computer-pick {
    width: 70px;
    text-align: center;
}

.modal-legend {
    display: flex;
    justify-content: center;
    gap: 204px;
}

.modal-legend--player-text, .modal-legend--computer-text {
    font-size: 2.5em;
    color: #FBF5F3;
    width: 130px;
    text-align: center;
}

.modal-legend .modal-legend--player-text {
    color: #6EEB83;
}

.modal-legend .modal-legend--computer-text {
    color: #FF3A47;
}

/* REPLAY BUTTON */

.replay-container {
    height: 7em;
    display: flex;
    justify-content: center;
    z-index: 1002;
}

.replay--btn {
    padding-top: 18px;
}

button {
    background-color: #364156;
    border: none;
    border-radius: 15px;
    font-size: 2em; 
    font-family: 'New Amsterdam', sans-serif;
    --button-color: #FBF5F3; 
    color: var(--button-color);
    cursor: pointer;
    width: 5em; 
    height: 1.7em; 
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color); /*  Highlight color on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
    color: #11151C;
}

button:active {
    transform: scale(1); /* Reset zoom when pressed */
    background-color: #FBF5F3; /* Light color on active press */
}